In [2]:
# Read excel data
import numpy as np
import pandas as pd
df = pd.read_excel("C:/Users/sugarkhuu/Documents/python/repo/Introduction_Python/week2/data.xlsx")

In [4]:
df.head()

,id,firstName,lastName,citizenId,age,yearsInCompany,salary,gender,startDate,politicalView
0,1,Suren,Itgel,SU03,18,0.5,1.5,F,2020-05-13,left
1,2,Chimeg,Baldan,BH98,23,2.0,1.7,F,2011-07-12,right
2,3,Gerel,Tsog,DA86,35,4.0,1.9,F,2017-06-14,right
3,4,Kherlen,Sukh,BU79,42,2.0,1.6,F,2019-11-15,left
4,5,Badral,Damchaa,ER89,32,8.0,2.3,M,2013-01-25,right

In [15]:
my_number = 15

if my_number > 1 and my_number <10:
    print("Hello")

In [18]:
my_number = 10
if my_number == 5:
    print("The number is 5")
else: 
    print("The number is not 5")

The number is not 5

In [26]:
my_number = 23
if my_number == 5:
    print("The number is 5")
elif my_number == 10: 
    print("The number is 10")
elif my_number == 20: 
    print("The number is 20")
else: 
    print("The number is none of 5, 10, 20")

The number is none of 5, 10, 20

In [31]:
my_number = 25
if np.mod(my_number,5) == 0:
    if my_number > 1 and my_number <10:
        print("Divisible by 5 and between 1-10")
    else:
        print("Divisible by 5 and not between 1-10")
else: 
    print("The number is not divisible by 5")

Divisible by 5 and not between 1-10

In [34]:
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [36]:
mylist = ['Bat','Geral','Bold']

for name in mylist:
    print(name)

Bat
Geral
Bold

In [41]:
for i in range(15):
    if i < 10: 
        if np.mod(i,2) == 0:
            print(i)
        else:
            print(i+1)
    else:
        break

0
2
2
4
4
6
6
8
8
10

In [51]:
for i in range(15):
    if (i > 8) and (i < 12): # &
        if np.mod(i,2) == 0:
            print(i)
        else:
            print(i+1)
    else:
        continue

10
10
12

In [50]:
for i in range(15):
    if i > 10 : 
        pass
    else:
        continue

In [54]:
for i in range(15):
    if (i < 5) or (i > 12): # |
            print(i)
    else:
        continue

0
1
2
3
4
13
14

In [61]:
mylist = [5,10,45,"Bold",45,45,'Chimeg']

for item in mylist:
    if isinstance(item, str):
        print(item)
        
for item in mylist:
    if isinstance(item, int):
        print(item)

                
for item in mylist:
    if type(item) == int:
        print(item)
        
short_list = [1,2,5]

for i in range(10):
    if i in short_list:
        print(i)

Bold
Chimeg
5
10
45
45
45
1
2
5
5
10
45
45
45